[component="badge"].super {
  background-color: white;
  color: #ea8685;
  display: inline-grid;
  border-radius: 50%;
  padding: 0;
  align-content: center;
  vertical-align: super;
  font-weight: bold;
  text-align: center;
  width: 1.5em;
  height: 1.5em;
}