[component="bannercatalog"] {
    .desktop{
        @media screen and (max-width: 39.9375em) {
            display: none; 
        }
        @media screen and (max-width: 768px){
            display: none;
        }
        @media screen and (max-width: 1024px){
            display: none;
        }
    }
    .movil{
        @media (min-width: 1025px) {
            display: none;
        }    
    }
}
